body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.container {
    margin: 0px;
    height: 500px;
    background-color: #000;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
    max-width: 700px;
    padding: 0px;
}

.brick {
    width: 50px;
    height: 20px;
    background-color: #5ACCE5;
    margin: 5px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
}

.paddle {
    width: 100px;
    height: 15px;
    background-color: #FF5733;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.ball {
    width: 15px;
    height: 15px;
    background-color: #FFD700;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: bounce 2s infinite linear;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -70%);
    }
}